.u-section-1 {background-image: none; min-height: 893px}
.u-section-1 .u-shape-1 {width: calc(((100% - 1140px) / 2) + 570px); background-image: none; right: auto; margin-bottom: 0}
.u-section-1 .u-layout-wrap-1 {width: 1102px; margin: 60px calc(((100% - 1140px) / 2)) 60px auto}
.u-section-1 .u-layout-cell-1 {min-height: 297px; background-image: none}
.u-section-1 .u-container-layout-1 {padding: 30px 50px 30px 0}
.u-section-1 .u-image-1 {width: 463px; height: 252px; object-position: 19.75% 50%; background-position: 19.75% 50%; margin: -9px auto -9px 35px}
.u-section-1 .u-layout-cell-2 {min-height: 387px; background-image: none}
.u-section-1 .u-container-layout-2 {padding: 0}
.u-section-1 .u-text-1 {font-size: 2.125rem; font-weight: 700; margin: 97px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 684px}
.u-section-1 .u-container-layout-3 {padding: 30px 0 30px 30px}
.u-section-1 .u-text-2 {font-size: 3rem; font-weight: 700; margin: 45px 0 0}
.u-section-1 .u-line-1 {width: 437px; height: 3px; margin: 7px auto 0}
.u-section-1 .u-form-1 {height: 224px; width: 508px; margin: 48px auto 0}
.u-section-1 .u-btn-1 {background-image: none; font-size: 1.125rem; border-style: none; padding: 19px 224px}
.u-section-1 .u-btn-2 {background-image: none; border-style: none none solid; margin: 25px auto 0; padding: 0}
.u-section-1 .u-btn-3 {background-image: none; border-style: none none solid; margin: 8px 154px 0 auto; padding: 0}
.u-section-1 .u-btn-4 {background-image: none; font-size: 1rem; margin: 51px auto 0; padding: 8px 38px 9px 36px}
.u-section-1 .u-btn-5 {background-image: none; margin: 26px auto 0; padding: 8px 43px} 

@media (max-width: 1199px){ .u-section-1 .u-shape-1 {width: calc(((100% - 940px) / 2) + 470px); margin-bottom: initial}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-right: calc(((100% - 940px) / 2))}
.u-section-1 .u-layout-cell-1 {min-height: 175px}
.u-section-1 .u-image-1 {width: 420px; height: 229px; margin-left: 0}
.u-section-1 .u-layout-cell-2 {min-height: 335px}
.u-section-1 .u-layout-cell-3 {min-height: 332px}
.u-section-1 .u-line-1 {width: 410px}
.u-section-1 .u-form-1 {width: 426px}
.u-section-1 .u-btn-1 {padding-left: 183px; padding-right: 183px}
.u-section-1 .u-btn-3 {margin-right: auto}
.u-section-1 .u-btn-5 {margin-right: 13px} }

@media (max-width: 991px){ .u-section-1 .u-shape-1 {margin-bottom: 0; width: auto; left: auto; bottom: auto; right: auto; top: auto}
.u-section-1 .u-layout-wrap-1 {width: 720px; margin-right: auto}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-right: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-1 {margin-top: 42px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-text-2 {margin-top: 0}
.u-section-1 .u-form-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-btn-1 {padding-left: 316px; padding-right: 316px}
.u-section-1 .u-btn-5 {margin-right: auto} }

@media (max-width: 767px){ .u-section-1 .u-shape-1 {margin-top: 60px; width: auto}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-right: calc(((100% - 540px) / 2))}
.u-section-1 .u-container-layout-1 {padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px}
.u-section-1 .u-btn-1 {padding-left: 234px; padding-right: 234px} }

@media (max-width: 575px){ .u-section-1 {min-height: 1174px}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-right: auto}
.u-section-1 .u-image-1 {width: 330px; height: 180px}
.u-section-1 .u-layout-cell-2 {min-height: 217px}
.u-section-1 .u-text-1 {margin-top: 10px}
.u-section-1 .u-layout-cell-3 {min-height: 717px}
.u-section-1 .u-text-2 {font-size: 2.25rem; width: 218px; margin-left: auto; margin-right: auto}
.u-section-1 .u-line-1 {width: 320px}
.u-section-1 .u-btn-1 {padding-left: 136px; padding-right: 136px}
.u-section-1 .u-btn-2 {margin-top: 49px; margin-right: 85px}
.u-section-1 .u-btn-3 {margin-top: 47px; margin-right: 55px}
.u-section-1 .u-btn-4 {margin-top: 49px}
.u-section-1 .u-btn-5 {margin-top: 25px} }