.u-section-1 .u-sheet-1 {min-height: 349px}
.u-section-1 .u-layout-wrap-1 {margin: 38px auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 484px; animation-duration: 1000ms}
.u-section-1 .u-container-layout-1 {padding: 0}
.u-section-1 .u-group-1 {min-height: 482px; height: auto; width: 432px; margin: 0 0 0 auto}
.u-section-1 .u-container-layout-2 {padding: 0}
.u-section-1 .u-layout-cell-2 {min-height: 484px}
.u-section-1 .u-container-layout-3 {padding: 0}
.u-section-1 .u-group-2 {min-height: 484px; margin: 0 auto 0 0}
.u-section-1 .u-container-layout-4 {padding: 0 30px}
.u-section-1 .u-text-1 {font-weight: 700; width: 182px; margin: 22px auto 0 34px}
.u-section-1 .u-text-2 {font-weight: 700; margin: -25px 0 0 483px}
.u-section-1 .u-text-3 {font-size: 1.5rem; width: 266px; margin: 31px auto 0}
.u-section-1 .u-text-4 {font-size: 0.875rem; margin: 13px 40px 0 49px}
.u-section-1 .u-text-5 {margin: 7px 58px 0 483px}
.u-section-1 .u-text-6 {margin: -25px auto 0 45px}
.u-section-1 .u-text-7 {font-weight: 700; margin: 13px auto 0 45px}
.u-section-1 .u-text-8 {margin: -25px auto 0 155px}
.u-section-1 .u-text-9 {margin: 13px auto 0 155px}
.u-section-1 .u-text-10 {font-weight: 700; margin: -25px auto 0 45px}
.u-section-1 .u-btn-1 {font-size: 0.875rem; background-image: none; border-style: none; margin: 70px 82px 0 auto}
.u-section-1 .u-btn-2 {font-size: 0.875rem; margin: -42px auto 0 58px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 26px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 399px}
.u-section-1 .u-group-1 {width: 360px}
.u-section-1 .u-layout-cell-2 {min-height: 399px}
.u-section-1 .u-group-2 {margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {margin-top: 57px; margin-left: 27px}
.u-section-1 .u-text-2 {margin-left: 255px; margin-right: 44px}
.u-section-1 .u-text-4 {margin-left: 18px; margin-right: 0}
.u-section-1 .u-text-5 {margin-right: 88px; margin-left: 269px}
.u-section-1 .u-text-6 {margin-left: 35px}
.u-section-1 .u-text-7 {margin-left: 35px}
.u-section-1 .u-text-8 {margin-left: 122px}
.u-section-1 .u-text-9 {margin-left: 122px}
.u-section-1 .u-text-10 {margin-left: 35px}
.u-section-1 .u-btn-1 {margin-right: 0}
.u-section-1 .u-btn-2 {margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-group-1 {width: 264px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-group-2 {min-height: 468px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {width: auto; margin-top: 22px; margin-left: auto}
.u-section-1 .u-text-2 {width: 160px; margin-top: 4px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-3 {margin-top: 15px}
.u-section-1 .u-text-4 {margin-left: 0}
.u-section-1 .u-text-5 {margin-right: 21px; margin-left: 202px}
.u-section-1 .u-text-6 {margin-left: 25px}
.u-section-1 .u-text-7 {margin-left: 25px}
.u-section-1 .u-text-8 {margin-left: 86px}
.u-section-1 .u-text-9 {width: auto; margin-left: 116px}
.u-section-1 .u-text-10 {margin-left: 25px}
.u-section-1 .u-btn-1 {padding: 10px 19px}
.u-section-1 .u-btn-2 {padding: 9px 16px 11px 15px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-top: 30px}
.u-section-1 .u-text-3 {width: 263px; margin-top: 29px; font-size: 1.5}
.u-section-1 .u-text-4 {margin-top: 5px}
.u-section-1 .u-text-5 {width: auto; margin-top: 13px; margin-right: 20px}
.u-section-1 .u-text-6 {width: auto; margin-left: 40px}
.u-section-1 .u-text-7 {width: auto; margin-left: 40px}
.u-section-1 .u-text-8 {width: auto; margin-top: -29px; margin-right: 68px; margin-left: auto}
.u-section-1 .u-text-9 {margin-top: 17px; margin-right: 111px; margin-left: auto}
.u-section-1 .u-text-10 {width: auto; margin-left: 40px}
.u-section-1 .u-btn-1 {margin-right: 20px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 921px}
.u-section-1 .u-group-2 {min-height: 514px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {width: 182px; margin-top: 5px}
.u-section-1 .u-text-4 {width: auto}
.u-section-1 .u-text-5 {margin-right: 24px; margin-left: 154px}
.u-section-1 .u-text-6 {margin-left: 24px}
.u-section-1 .u-text-7 {margin-left: 24px}
.u-section-1 .u-text-8 {margin-top: -25px; margin-right: 51px}
.u-section-1 .u-text-9 {margin-top: 13px; margin-right: 94px}
.u-section-1 .u-text-10 {margin-left: 24px}
.u-section-1 .u-btn-1 {margin-top: 30px; margin-right: 16px; padding: 9px 15px 11px}
.u-section-1 .u-btn-2 {padding-left: 13px; padding-right: 13px} }.u-section-2 .u-sheet-1 {min-height: 579px}
.u-section-2 .u-text-1 {width: 740px; margin: 60px auto 0}
.u-section-2 .u-layout-wrap-1 {width: 1140px; margin: 35px 0 60px}
.u-section-2 .u-layout-cell-1 {min-height: 285px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {height: 225px; margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-2 {min-height: 285px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {height: 225px; margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 285px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-3 {height: 225px; margin: 0 auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 427px}
.u-section-2 .u-layout-wrap-1 {width: 940px}
.u-section-2 .u-layout-cell-1 {min-height: 235px}
.u-section-2 .u-image-1 {height: 178px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 235px}
.u-section-2 .u-image-2 {height: 178px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-3 {min-height: 235px}
.u-section-2 .u-image-3 {height: 178px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 292px}
.u-section-2 .u-text-1 {width: 720px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {height: 126px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-2 {height: 126px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-image-3 {height: 126px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 392px}
.u-section-2 .u-text-1 {width: 540px}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {height: 364px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {height: 364px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {height: 364px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px}
.u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-image-1 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {height: 224px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {height: 224px; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 349px}
.u-section-3 .u-layout-wrap-1 {width: 930px; margin: 60px auto 60px 73px}
.u-section-3 .u-layout-cell-1 {min-height: 483px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-group-1 {width: 372px; min-height: 397px; height: auto; margin: 20px 37px 0 0}
.u-section-3 .u-container-layout-2 {padding: 0 5px 0 0}
.u-section-3 .u-image-1 {width: 335px; height: 335px; margin: 0 auto 0 19px}
.u-section-3 .u-btn-1 {font-size: 0.875rem; margin: 14px auto 0 124px}
.u-section-3 .u-layout-cell-2 {min-height: 483px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-text-1 {margin: 93px 76px 0 100px}
.u-section-3 .u-text-2 {font-weight: 700; margin: 20px 84px 0 100px}
.u-section-3 .u-text-3 {font-weight: 700; margin: 20px 84px 0 100px}
.u-section-3 .u-text-4 {font-weight: 700; margin: 20px 84px 0 100px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 26px}
.u-section-3 .u-layout-wrap-1 {margin-left: 11px}
.u-section-3 .u-layout-cell-1 {min-height: 420px}
.u-section-3 .u-group-1 {width: 375px; margin-right: 3px}
.u-section-3 .u-image-1 {width: 315px; height: 315px; background-position: 50% 50%}
.u-section-3 .u-btn-1 {margin-left: auto}
.u-section-3 .u-layout-cell-2 {min-height: 346px}
.u-section-3 .u-text-1 {width: auto; margin-top: 91px; margin-right: 158px; margin-left: 66px}
.u-section-3 .u-text-2 {margin-top: 22px; margin-right: 112px; margin-left: 66px}
.u-section-3 .u-text-3 {margin-right: 112px; margin-left: 66px}
.u-section-3 .u-text-4 {margin-right: 112px; margin-left: 66px} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {width: 720px; margin-left: 0}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-group-1 {width: 273px; margin-right: 0}
.u-section-3 .u-image-1 {width: 213px; height: 213px; margin-left: auto}
.u-section-3 .u-btn-1 {margin-left: 72px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-text-1 {margin-top: 90px; margin-right: 100px; margin-left: 7px}
.u-section-3 .u-text-2 {width: auto; margin-top: 15px; margin-right: 53px; margin-left: 7px}
.u-section-3 .u-text-3 {width: auto; margin-right: 53px; margin-left: 7px}
.u-section-3 .u-text-4 {width: auto; margin-right: 53px; margin-left: 7px} }

@media (max-width: 767px){ .u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-group-1 {width: 514px; min-height: 296px; margin-right: 247px}
.u-section-3 .u-container-layout-2 {padding-right: 0}
.u-section-3 .u-btn-1 {margin-left: auto}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-1 {width: 413px; margin-top: 0; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-2 {width: 305px; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-3 {width: 243px; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-4 {width: 261px; margin-left: auto; margin-right: auto} }

@media (max-width: 575px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 368px}
.u-section-3 .u-group-1 {min-height: 332px; margin-top: -30px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-btn-1 {margin-top: 57px; margin-left: 98px}
.u-section-3 .u-layout-cell-2 {min-height: 356px}
.u-section-3 .u-text-1 {width: 129px; margin-top: 5px}
.u-section-3 .u-text-2 {margin-top: 25px} }